* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(0.5em + 1vw);
}

article {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2em;
  color: #fafafa;
  font-size: 1.5em;
  background-color: #1a1a1a;
  font-family: Georgia, 'Times New Roman', Times, serif
}

header {
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 2em;
}

main {
  text-align: justify;
}

ul {
  list-style: none;
  padding: 1.5em 0;
}

li {
  display: flex;
  align-items: flex-start;
}

img#gear {
  padding-right: 1em;
  width: 4em;
  height: 4em;
}