* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.55em;
}

:root {
	font-size: calc(0.65em + 1vw);
	--bg-color: #1a1a1a;
	--color: #fafafa;
}

[data-theme='dark'] {
	--bg-color: #fafafa;
	--color: #1a1a1a;
}

html, body, #root {
	height: 100%;
	background-color: var(--bg-color);
}

a {
	color: var(--color);
	border-bottom: 1px dotted hsla(0, 0%, 50%, 0.67);
	text-decoration: none;
}

article {
	display: flex;
	position: relative;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 1em;
	color: var(--color);
	background-color: var(--bg-color);
	font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
	padding-bottom: .5em;
	font-size: 1.67em;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
article > header {
	padding-top: 2em;
	font-size: 2em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
	text-align: justify;
	padding-bottom: 2em;
}

section {
	padding-bottom: 2em;
}
section#big {
	margin: 0 2em;
}
section#small {
	text-align: center;
	padding-bottom: 3em;
}

#big ul {
	list-style: none;
}
#big li {
	display: flex;
	align-items: center;
	margin-bottom: 1.25em;
}

svg {
	flex-shrink: 0;
	padding-right: 1em;
	height: auto;
	width: 4.5em;
}
path {
	fill: var(--color);
}
#office-icon {
	padding-top: 0.5em; /* eyeballed */
}

.project-title {
	font-weight: bolder;
	font-family: sans-serif;
	margin-right: .5em;
	font-size: 1.1em;
}


#medium ul {
	margin-left: 3em;
	margin-right: 1em;
}
#medium li {
	margin-bottom: 1.25em;
}

section#small > span > span {
	opacity: 0.5;
	padding: 0 0.33em;
}

footer ol {
	font-size: .9em;
	padding-bottom: 6em;
	padding-left: 2em;
}

footer li {
	padding-bottom: 0.5em;
}

#email {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: 5em;
	padding: 0 1.5em;
	background-color: var(--bg-color);
	box-shadow: 0 0 .5em .5em var(--bg-color);
	font-family: Helvetica, sans-serif;
}
#email > a {
	border: none;
	font-size: 1.1em;
}
#at {
	display: inline-block;
	position: relative;
	top: .1em;
	font-size: 1.5em;
	padding: 0 .15em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#toggle-slot {
	background-color: var(--color);
	width: 3.5em;
	height: 2em;
	border-radius: 1em;
	display: flex;
	align-items: center;
	cursor: pointer;
}
#toggle-slot > input {
	display: none;
}
#toggle-btn {
	background-color: var(--bg-color);
	width: 1.5em;
	height: 1.5em;
	margin: .25em;
	border-radius: .75em;
	transition: .125s;
}
input:checked + #toggle-btn {
	transform: translateX(1.5em);
}

@media(min-width: 400px) {
	article {
		padding: 0 2em;
	}
}

@media(min-width: 600px) {
	article {
		width: 35em;
		margin: 0 auto;
	}
}